
/* I honestly dont intend nor want to  */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    /* background-color: ; */
}

.header {
    width: 99.2vw;
    height: 100vh;
    overflow: hidden;
    margin: -13px 0px 0px -10px;
    display: inline-flex;
}

.title {
    position: absolute;
    display: flex;
    color: aliceblue;
    font-size: 4.2vw;
    margin: 100px 0px 200px 50px;
    /* text-shadow: 0px 0px 30px black; */
    
}

@keyframes headerImg {
    from { filter: brightness(85%) blur(0px); }
    to { filter: brightness(60%) blur(3px); }
}

#header-image {
    position: sticky;
    overflow: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0vw 0px;
    /* animation-name: headerImg;
    animation-duration: 1s;
    animation-fill-mode: both; */
    filter: brightness(60%) blur(3px);
}

.text-container {
    display: flex;
    font-size: 25px;
    max-width: 100vw;
    text-align: left;
    margin: 100px auto;
}
.text-container h1 {
    font-size: 80px;
}
.text-container img {
    font-size: 80px;
    width: 30%; 
    height: 30%;
    border-radius: 100%;
    margin: 2% 2% 2% 0%;
    transition: all;
}

#dock {
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: black;
    outline-color: gray;
    padding: 10px 0px 10px 0px;
    background-color: gainsboro;
}

.dockChild {
    padding: 0px 10px 0px 10px;
    background-color: rgb(220, 220, 220);
}

button {
    border: none;
    padding: 10px;

}
button:active {
    color: brown;
    background-color: rgb(200, 200, 200);
}

.text {
    margin-right: 10%;
    margin-left: 10%;
}